@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

html {
    font-family: Helvetica, Arial, sans-serif;
}

main {
    width: calc(100% - 240px);
    min-height: 100%;
    margin: 1cm;
}

@media print {
    main {
        width: inherit;
        margin: 1cm;
    }
}